<div class="button-row">
  <a [routerLink]="['/books']" color="primary" mat-raised-button>
    <mat-icon>list</mat-icon>
  </a>
</div>
<div class="container ">
<div class="row ">
<div class="col-2"></div>
<div class="col-8">
<mat-card class="example-card">
 

      <div class="text-center">
        <h2>{{book.title | uppercase}}</h2>
        <h4>{{book.description | uppercase}}</h4>
      </div>
  
  
  <mat-card-content>
    <dl>
      <dt>ISBN:</dt>
      <dd>{{book.isbn}}</dd>
      <dt>Author:</dt>
      <dd>{{book.author}}</dd>
      <dt>Publisher:</dt>
      <dd>{{book.publisher}}</dd>
      <dt>Publish Year:</dt>
      <dd>{{book.published_year}}</dd>
      <dt>Update Date:</dt>
      <dd>{{book.updated_date | date}}</dd>
    </dl>
  </mat-card-content>
  <div class="text-center">
  <mat-card-actions>
    <a [routerLink]="['/book-edit', book._id]" color="primary" mat-raised-button>
      <mat-icon>edit</mat-icon>
    </a>
    <a (click)="deleteBook(book._id)" color="warn" mat-raised-button>
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</div>
</mat-card>
</div>
<div class="col-2"></div>
</div>
</div>
